body,html{
	margin: 0;
	padding: 0;
	height: 2000px;
	font-family: "Raleway", sans-serif;
}
a{
	cursor: pointer;
	text-decoration:none;
}
header{
	width: 100%;
}
nav{
	top:0px;
	margin-top:0px; 
	padding-top:0px;
	position: fixed;
	left: 0px;
	width: 100%;
	color: #fff;
	height: 80px;
	z-index: 1000;
	background: none;
	transition: all 0.6s cubic-bezier(0.7,0.01,0.3,1);
}
.logo,
.menu{
	position: absolute;
	z-index: 2000; /*Si coloco 1000 el enlace pierde efecto*/
}
.logo{
	left: 15px;
	top: -4px;
	width: 70px;
	height: 74px;
	padding: 0.4% 3%;
	text-align: left;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image: url(../img/logo_laboratoria-09.svg);
}
.open .logo,
nav.solid #logo .logo {
  background-image: url(./img/icon/laboratoria.svg);
}
.logo img{
  z-index: 1000;
}
/*Armando nuestra hamburguesa*/
a .menu{
	top: 0;
	right: 0;
	height: 4px;
	width: 24px;
	text-align: right;
	margin: 2rem 2rem;
	background: #f7b617;
	transition: all 0.3s;
}
.menu::before{
	top:-8px;
}
.menu::after{
	top: 8px;
}

#toggle:hover .menu:before{
	top: -9px;
}
#toggle:hover .menu:after{
	top: 9px;
}
.menu::before,
.menu::after{
  content: '';
  width: 24px;
  height: 4px;
  z-index: -1;
  display: block;
  position: absolute;
  background: #f7b617;
  transition: all 0.3s;
}
#toggle:hover{
  transition: top 0.4s;
}
/*--------end Hamburger-----*/

/*---Creando la X---*/
.open .menu{
	background: none !important;
}
.open .menu::after{
	top:0 !important;
	background: #fff !important; 
	transform: rotate(45deg);
}
.open .menu::before{
	top:0 !important;
	background: #fff !important; 
	transform: rotate(-45deg);
}
/*----------------------------------------*/

nav .nav-background{
	top: 0px;
	opacity: 0;
	width: 100%;
	height: 100%;
	z-index: 1500;
	display: table;
	background: none;
	position: absolute;
	transition: background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
}
nav.open .nav-background{
	opacity: 1;
	background-color:rgba(247, 182, 23, 0.81) !important;
	transition: background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
}
nav.open{
	height: 100%;
	transition: none;
	-o-transition:none;
	-moz-transition:none;
	-webkit-transition:none;
}
nav ul{
	top: -10%;
	padding: 0;
	opacity: 0;
	width: 100%;
	text-align: center;
	visibility: hidden;
	display: table-cell;
	vertical-align: middle;
	transform: perspective(600px) rotateX(10deg);
	transition: all 0.5s cubic-bezier(0.7,0,0.36,0.63);
}
nav ul li{
	visibility: hidden;
}
nav ul li a{
	color: white;
	width: 100%;
	display: block;
	padding: 8px 0 0;
	letter-spacing: -0.06em;
}
nav ul li a:hover{
  	color:#f7b617;
  	background-color: white;
}
nav.open ul{
	top: 0;
	opacity: 1;
	margin-top: 0;
	visibility: visible;
	transform: perspective(600px) rotateX(0deg);
}
nav.open ul li {
	color: #fff;
	font-size: 60px;
	visibility: visible !important;
}

.solid #toggle .menu {
  background: #fff;
}
.solid #toggle .menu:after{
  background-color: #fff;
}
.solid #toggle .menu:before{
  background-color: #fff;
}
.header-in{
  background-color: rgba(247, 182, 23, 0.81);
}
.overflow-hidden{
	overflow: hidden;
}
/*--------fin del menu--------------*/

div.flex-container{
	background-color: grey; 
	height: 500px;
}
.container {
	padding: 20px;
}

.container div {
	position: relative;
	float: left;
	width: 250px;
	height: 250px;
	padding: 0;
	background-color: yellow;
}
.container div span {
	position: absolute;
	bottom: -20px;
	left: 0;
	z-index: -1;
	display: block;
	width: 250px;
	margin: 0;
	padding: 0;
	color: white;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;

}

figure {
	width: 250px;
	height: 250px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}
figure:hover+span {
	z-index: 1;
	bottom: 125px;
	opacity: 1;
}
.container figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.container figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
/*div.contenedor-imagen:hover{
	opacity: 1;
	background-color:rgba(247, 182, 23, 0.81) !important;
	transition: background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
}*/
















































